.title{
    background: url(../img/backgourd.png) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}
.ps{
    margin: 0 auto;
    font-family: "Consolas";
    color: rgb(255, 255, 255);
    text-align: center;  
}
.ps a{
    color: white;
}
.ps::before{
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    width: 1530px;
    bottom: 12px;
    left: 50%;
    background: white;
    transform: translateX(-50%);   
}
.phong{
    padding-top: 300px;
    position: relative;
}

.phong::before{
    content: '';
    display: block;
    position: absolute;
    height: 3px;
    width: 170px;
    bottom: -25px;
    left: 50%;
    background: white;
    transform: translateX(-50%);
    opacity: .8;
}
.button{
    margin: 11rem 0 0 0;
    text-align: center;
}
.button .btn-primary{
    background: none;
    padding: .4rem 3rem;
    border: 1px white solid;
    font-size: 20px;
}
.button .btn-primary:hover{
    box-shadow: 5px 5px 5px black;
    font-size: 30px
}
p{
    text-decoration: underline;
}
.about1{
    background: #5f6060;
    background-size: cover;
    background-attachment: fixed;
    height: 50vh;
}
.phong1{
    margin-top: 85px;
}
.phong2::before{
    content: '';
    display: block;
    position: absolute;
    height: 220px;
    width: 3px;
    bottom: -15px;
    background: white;
    transform: translateX(-50%);
}
.phong2 h1{
        font-size: 35px;
        font-family: "UTM Avo";
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        line-height: 1.3;
        text-align: left;
        position: absolute;
        margin: 90px 0px 0 30px;
}
.about2{
    background: #e1e1e1;
    background-size: cover;
    background-attachment: fixed;
    height: 50vh;
}
.skill{
    text-align: center;
    margin-top: 5rem;
}
.skill .btn-primary{
    background: #767a83;
    border: none;
    font-size: 50px;
    padding: .5rem 4rem;
   border-radius: 10px;
    font-family: "UTM Neutra";
    color: rgb(255, 255, 255);
}
.phanmem{
    margin-top: 2.5rem;
    color: #454545;
    font-size: 20px;
    font-family: "UTM Avo";
    font-style: italic;
    font-variant: small-caps;
    line-height: 2.377;
}
.phanmem .pts::before{
    content: '';
    display: block;
    position: absolute;
    height: 6px;
    width: 180px;
    bottom: -1px;
    left: 50%;
    background: #b3b3b3;
    transform: translateX(-50%);
    margin-left: -40px;
}
.phanmem .ai::before{
    content: '';
    display: block;
    position: absolute;
    height: 6px;
    width: 180px;
    bottom: -1px;
    left: 50%;
    background: #b3b3b3;
    transform: translateX(-50%);
    margin-left: -40px; 
}
.phanmem .pr::before{
    content: '';
    display: block;
    position: absolute;
    height: 6px;
    width: 180px;
    bottom: -1px;
    left: 50%;
    background: #b3b3b3;
    transform: translateX(-50%);
    margin-left: -40px;
}
.phanmem .pt::before{
    content: '';
    display: block;
    position: absolute;
    height: 6px;
    width: 180px;
    bottom: -1px;
    left: 50%;
    background: #b3b3b3;
    transform: translateX(-50%);
    margin-left: -40px;
}

.gallery{
    background: #8f9092;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}
.logo2{
    margin-top: .5rem;
    text-align: center;
    color: white;
    font-size: 60px;
    font-family: "UTM Neutra";
    font-variant: small-caps;
}
.logo2::before{
    content: '';
    display: block;
    position: absolute;
    height: 3px;
    width: 85px;
    bottom: -5px;
    left: 50%;
    background: black;
    transform: translateX(-50%); 
    opacity: .3;
}
.gallery .img{
    max-width: 53rem;
    margin: 0 auto;
    margin-top: 1rem;
    box-shadow: 1rem 1rem 0px 0px gray;
}
      

      

